@import url(http://fonts.googleapis.com/css?family=Lato:300|Open+Sans|Noto+Sans|Belgrano);
body{
	background-color: #FFF;
	width: 70%;
	margin: 0 auto;
	padding: 1%;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
}


.banner{
	height: 100px;
}
.logo{
	width:240px;
	height:50px;
}

.menu{
	text-align: center;
	width: 100%;
}
.menu-table{
	border: 3px solid;
	width: 800px;
	margin: 0 auto;
	text-transform: uppercase;
	font-family: "Noto Sans", sans-serif;
	font-size: 17px;
}
.menu-table td{
	border-left: 2px solid;
	width: 20%;
}
.menu-table a{
	display: block;
	color: #000;
	padding: 10px;
	margin-left: 2px;
	text-decoration: none;
	background-color: #FFF;

	transition:background-color 0.4s;
	-moz-transition:background-color 0.4s; /* Firefox */
	-webkit-transition:background-color 0.4s; /* Safari and Chrome */
	-o-transition:background-color 0.4s; /* Opera */
}

.menu-table a:hover {
	background-color: #DDD;
}

ul {
	list-style: none;
}
#meta-menu li {
	list-style: none;
	float: right;
	margin-left: 20px;
}
#meta-menu li a {
	font-size: 13px;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;

	transition:color 0.4s;
	-moz-transition:color 0.4s; /* Firefox */
	-webkit-transition:color 0.4s; /* Safari and Chrome */
	-o-transition:color 0.4s; /* Opera */
}
#meta-menu li a:hover {
	color: #111;
}

.feature{
	width: 100%;
	min-height: 400px;
	text-align: center;
	padding: 5px;
	font-family: "Lato", sans-serif;
	font-size: 25px;
	color: #666;
	line-height: 400px;
}

.speaker-box{
	width: 100%;
	min-height: 400px;
	text-align: center;
}
.speaker-box table{
	width:825px;
	margin: 0 auto;
}
.speaker-box tr{
	height: 320px;
}
.speaker-box td{
	width: 275px;
}
.speaker-box img{
	height: 250px;
	width: 250px;
}
.speaker-box .details{
	height: 50px;
	width: 250px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
}

.venue-box{
	width: 100%;
	min-height: 500px;
	text-align: center;
	font-family: "Lato", sans-serif;
}
.venue-box table{
	width:825px;
	margin: 0 auto;
	text-align:left;
}
.venue-box img{
	box-shadow: 0 0 0 4px #fff, 0 0 0 6px #555;
}
.venue-box .heading{
	font-size: 23px;
	color: #666;
	text-transform:uppercase;
}
.venue-box .text{
	font-size: 18px;
	color: #666;
}
.venue-box .highlight{
	font-size: 21px;
	color: #666;
}

.twitter-box{
	width: 100%;
	min-height: 100px;
	padding: 10px;
	font-family: "Belgrano", sans-serif;
	font-size: 15px;
	text-align: center;
	color:#444;
}
.twitter-box p{
	padding-left: 10%;
	padding-right: 10%;
}

.big-heading{
	font-family: "Lato", sans-serif;
	font-size: 30px;
	color: #666;
}

.footer{
	width: 100%;
	border: 2px solid;
	height: 250px;
	padding: 5px;
}
.footer table{
	width: 100%;
	padding: 5px;
}
.footer td{
	margin: auto;
	height: 240px;
	vertical-align: top;
}
.link {
	color:#666;
	text-decoration:none;

	transition:color 0.4s;
	-moz-transition:color 0.4s; /* Firefox */
	-webkit-transition:color 0.4s; /* Safari and Chrome */
	-o-transition:color 0.4s; /* Opera */
}
.link:hover {
	color:#111;
}

.footer .heading{
	font-size: 12px;
	color: #777;
	text-transform: uppercase;
}

.footer .text{
	font-size: 10px;
	color: #666;
}

.footer-copyright{
	width: 100%;
	height:20px;
	text-align: center;
	color: #999;
	font-size: 13px;
}

hr.light{
	background: #AAA;
	height:1px;
	border: none;
	width:60%;
	margin-left: 20%;
}