@import url(http://fonts.googleapis.com/css?family=Lato:300|Open+Sans);
body{
	background-color: #FFF;
	width: 70%;
	margin: 0 auto;
	padding: 1%;
	font-family: "Open Sans", Sans;
}


.banner{
	height: 100px;
}
.logo{
	width:275px;
	height:50px;
}

.menu{
	text-align: center;
}
.menu-table{
	border: 4px solid;
	width: 100%;
	padding:10px;
}
.menu-table td{
	border-left: 2px solid;
}

ul {
	list-style: none;
}
#meta-menu li {
	list-style: none;
	float: right;
	margin-left: 20px;
}
#meta-menu li a {
	font-size: 13px;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
}